<% var title = 'Pictionnary - 404 NOT FOUND' %>
<% include head %>

<div class="col-md-12 text-center">
    <h1 style="font-weight: bolder; color: #00a99d">ERREUR 404</h1>
    <h4>La page <%= url %> n'existe pas</h4>
    <br />
    <a href="/" class="btn btn-primary btn-lg">Se faire rediriger</a>
</div>

<% include foot %>