</div>

<div id="fb-root"></div>

<script src="/js/google.js"></script>
<script src="/js/twitter.js"></script>
<script src="/js/facebook.js"></script>
<script src="/js/libs-connect.js"></script>

</body>
</html>